<ion-content>
  <ion-header>
    <ion-toolbar class="header">
      <ion-title>Kalkulator walut</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/logo.jpg" alt="logo WSB" /> </ion-col
    ></ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Podaj kwotę:</ion-label>
          <ion-input type="number" [(ngModel)]='currencyInputValue'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>Wybierz walutę:</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Euro</ion-select-option>
            <ion-select-option value="m">Dollar</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button expand="block" shape="round" (click)="calc()">Przelicz</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" class="ion-text-end">
          Wynik:
        </ion-col>
        <ion-col size="6" class="ion-text-start">{{ result }}</ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <ion-title class="ion-text-center">WSB 2021</ion-title>
  </ion-toolbar>
</ion-footer>
